.animation {
    animation-duration: var(--animation-duration, 1s);
    animation-delay: var(--animation-delay, 0s);
    animation-fill-mode: var(--animation-fill-mode, initial);
    animation-timing-function: var(--animation-timing-function, ease);
    animation-iteration-count: var(--animation-iteration-count, infinite);
    animation-direction: var(--animation-direction, normal);

    &-duration {
        @for $var from $animation-duration-min to $animation-duration-max {
            &-#{$var} {
                --animation-duration: #{$var/10}s;
            }
        }
    }
    &-delay {
        @for $var from $animation-delay-min to $animation-delay-max {
            &-#{$var} {
                --animation-delay: #{$var/10}s;
            }
        }
    }
    &-fill-mode {
        &-backwards {
            --animation-fill-mode: backwards;
        }
        &-both {
            --animation-fill-mode: both;
        }
        &-forwards {
            --animation-fill-mode: forwards;
        }
    }
    &-timing-function {
        &-ease {
            --animation-timing-function: ease;
        }
        &-ease-in {
            --animation-timing-function: ease-in;
        }
        &-ease-in-out {
            --animation-timing-function: ease-in-out;
        }
        &-ease-out {
            --animation-timing-function: ease-out;
        }
        &-linear {
            --animation-timing-function: linear;
        }
        &-step-end {
            --animation-timing-function: step-end;
        }
        &-step-start {
            --animation-timing-function: step-start;
        }
    }
    &-iteration-count {
        @for $var
            from $animation-iteration-count-min
            to
            $animation-iteration-count-max
        {
            &-#{$var} {
                --animation-iteration-count: #{$var};
            }
        }
    }
    &-direction {
        &-alternate {
            animation-direction: alternate;
        }
        &-alternate-reverse {
            animation-direction: alternate-reverse;
        }
        &-normal {
            animation-direction: normal;
        }
        &-reverse {
            animation-direction: reverse;
        }
    }
    @import "./rotate";
    @import "./moveBg";
    @import "./deleteTime";
    @import "./boxScan";
}

@import "./btn";