&-deleteTime {
    animation-name: animation-deleteTime;
    &-hover {
        &:hover {
            animation-name: animation-deleteTime;
        }
    }
}
@keyframes animation-deleteTime {
    100% {
        display: none;
        opacity: 0;
        height: 0;
        width: 0;
        max-width: 0;
        max-height: 0;
        min-width: 0;
        min-height: 0;
        visibility: none;
        padding: 0;
        margin: 0;
    }
}
