&-moveBg {
    animation-name: animation-moveBg;
    background-size: 200% 200%;
    &-hover {
        &:hover {
            animation-name: animation-moveBg;
        }
    }
}
@keyframes animation-moveBg {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}
