.ContentPaymentForm{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 0.4rem;
    grid-row-gap: 0.4rem;

    .fenext-select .fenext-input-content-input{
        color: white;
        
    }
    .fenext-select .fenext-input-content-input::placeholder{
        color: white;
        
    }
    .fenext-input-content-icon svg{
        color: white;
    }
    .StripeElement{
        background-color: rgba(0, 0, 0, 0.144);
        color: white;
    }

}


.fenext-select:nth-child(1){ grid-area: 1 / 1 / 2 / 2; }
.fenext-select:nth-child(2){ grid-area: 1 / 2 / 2 / 3; }
.FormAddPayment3{ grid-area: 2 / 1 / 3 / 3; }
.fenext-select:nth-child(3) { grid-area: 3 / 1 / 4 / 2; }
.FormAddPayment5{ grid-area: 3 / 2 / 4 / 3; }
.FormAddPayment6 { grid-area: 4 / 1 / 7 / 3; }
