.ReactSortable {
    &-chosen {
        transform: none;
    }
    &-ghost {
        transform: none;
    }
    &-swap {
        transform: skewY(5deg);
    }
    &-drag {
        transform: skewY(.5);
    }
}
