.formMDPContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    input {
        margin-bottom: 0;
    }
    .formMDPContentDiv1 {
        grid-area: 1 / 1 / 2 / 3;
    }
    .formMDPContentDiv2 {
        grid-area: 2 / 1 / 3 / 3;
    }
    .fenext-select:nth-child(3) {
        grid-area: 3 / 1 / 4 / 2;
    }
    .fenext-select:nth-child(2) {
        grid-area: 3 / 2 / 4 / 3;
    }
    .formMDPContentDiv6 {
        grid-area: 4 / 1 / 5 / 3;
    }
    .fenext-select:nth-child(1) {
        grid-area: 5 / 1 / 6 / 2;
    }
    .formMDPContentDiv7 {
        grid-area: 5 / 2 / 6 / 3;
    }
    .formMDPContentDiv8 {
        grid-area: 6 / 1 / 7 / 3;
    }
    .formMDPContentDiv9 {
        grid-area: 7 / 1 / 8 / 3;
    }

    .fenext-select-list-options.fenext-select-list-options.fenext-select-list-options.fenext-select-list-options {
        bottom: calc(100% - 3.7rem) !important;
    }
}

.formMDPContent.formMDPContent.formMDPContent {
    .fenext-select.fenext-select.fenext-select.fenext-select {
        .fenext-input.fenext-input.fenext-input.fenext-input {
            .fenext-input-content.fenext-input-content.fenext-input-content {
                .fenext-input-content-input::placeholder {
                    color: #757575 !important;
                }
            }
        }
    }
}

.linkUnSubscribed.linkUnSubscribed.linkUnSubscribed.linkUnSubscribed.linkUnSubscribed {
    text-decoration: none;
}

.tooltip-parent{
    position: relative;
}

.tooltip {
    display: none;
    opacity: 0; 
    transition: opacity 0.3s ease; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tooltip-parent:hover .tooltip {
    display: block;
    position: absolute;
    padding: 10px;
    width: 75%;
    height: 35px;
    left: 0;
    right: 0;
    margin: auto;
    top: 45px;
    border-radius: 5px;
    background-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
    opacity: 1; 
}

.tooltip::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #000 transparent;
}

.tooltip-parent.hiddenToltip{
    .tooltip{
        display: none;

    }
}
