.formStripeContent {
    
    input {
        margin-bottom: 0.625rem;
    }
    .formStripeContentDiv3 {
        
        .fenext-select{
            margin-bottom: 0.625rem;
        }
    }
}


.classNamecontentAvatar{
    .classNameErrorAvatar{
        display: none !important;
    }
}