.banner-home {
    margin-top: -128px;
}

.shpe-div {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
    bottom: 0;
    svg {
        width: calc(235% + 1.3px);
        height: 200px;
        transform: translateX(-50%) rotateY(180deg);
        display: block;
        position: relative;
        left: 50%;
    }
}

.shpe-div-top {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
    top: 0;
    svg {
        width: calc(235% + 1.3px);
        height: 200px;
        transform: translateX(-50%) rotateY(180deg);
        display: block;
        position: relative;
        left: 50%;
    }
}

.repet.overlay {
    background: url('../public/image/tolinkme/fondoLogin.png') repeat;
    opacity: 0.03;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-home {
    position: relative !important;
    top: -30px !important;
}

@media (max-width: 991px) {
    .menu-home {
        display: none;
    }
    .col-home-menu-1 {
        flex: 9;
    }
}
@media (max-width: 575px) {
    .col-home-menu-1 {
        flex: 3;
    }
    .col-idioma {
        flex: 9;
    }
}
@media (max-width: 768px) {
    .banner-cols {
        flex-direction: column-reverse;
        .banner-cols-1 {
            width: 100%;
        }
        .banner-cols-2 {
            margin: 1rem 0;
            width: 100%;
        }
    }

    .footer-home {
        display: block;
        text-align: center;
        .footer-home-logo {
            display: flex;
            justify-content: center;
            width: 100%;
            .col-dis-no {
                display: none;
            }
            .img-footer-movil {
                width: 60%;
            }
        }
        .footer-home-col-1 {
            width: 50%;
        }
        .col-dis-no {
            display: none;
        }
        .col-inf-footer {
            width: 100%;
            margin: 1.5rem 0;
            .col-inf-footer-col {
                justify-content: center;
                align-items: center;
                .col-text-center {
                    text-align: center;
                }
                .m-ins-auto {
                    margin: auto;
                }
            }
        }
        .idioma {
            display: flex;
            justify-content: center;
            label {
                .lang-idioma {
                    justify-content: center;
                }
            }
        }
    }
}

@media (max-width:768px) {
    .section-perfilThree {
display: none;
    }
    
}

@media (max-width:768px) {
    .link-movil {
        font-size: 0.8rem;
    }
    
}


@media (min-width:769px) {
    .section-perfilThree-movil{
        display: none;
    }
    
}




@media (min-width: 769px) {
    .col-dis-yes {
        display: none;
    }
}

@media (max-width: 768px) {
    .title-one-banner {
        text-align: center;
        font-size: 1.8rem;
    }
    .title-two-banner {
        font-size: 1.4rem;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .description-banner {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .banner-button {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .home-secction-2 {
        .home-secction-2-img {
            width: 15%;
        }
    }
    .img-perfil-2 {
        width: 80%;
        margin: 1rem auto;
        
    }
}

@media (max-width: 575px) {
    .title-one-banner {
        font-size: 1.2rem;
    }
    .title-one-banner.all-title {
        font-size: 1.8rem;
    }
   
    .title-two-banner {
        font-size: 1.5rem;
    }
    .title-two-banner.all-title {
        font-size: 2rem;
    }
    .img-perfil-2 {
        width: 80%;
        margin: 1rem auto;
        
    }

    .banner-princ {
        height: 65vh;
    }
    .banner-princ-angle {
        display: none;
    }
}

#nprogress .spinner-icon {
    display: none;
}
