.input {
    &.error {
        --box-c: var(--error, var(--red));
    }
    &.ok {
        --box-c: var(--ok, var(--green));
    }
    &.input-date::-webkit-calendar-picker-indicator {
        display: block;
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
        z-index: 10;
    }
    &[type='number'] {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        &[type='number'] {
            -moz-appearance: textfield;
        }
    }
    &-file-svg-upload {
        border-color: #22cc8c;
        svg {
            [fill='#1a1818'] {
                fill: #22cc8c;
            }
            [fill='#050605'] {
                fill: #22cc8c;
            }
            [fill='#040504'] {
                fill: #22cc8c;
            }
            [fill='#b8b7b7'] {
                fill: #fff;
            }
        }
    }
    &-file-error-upload {
        color: red;
        border-color: red;
        border-color: red;
        svg {
            [fill='#1a1818'] {
                fill: red;
            }
            [fill='#050605'] {
                fill: red;
            }
            [fill='#040504'] {
                fill: red;
            }
            [fill='#b8b7b7'] {
                fill: #fff;
            }
        }
    }
}
textarea {
    resize: none;
}

.content-place-input input::placeholder {
    color: var(--placeholder-colors);
}
.content-place-input textarea::placeholder {
    color: var(--placeholder-colors);
}
