.fenext-select {
    .fenext-input-label {
        display: none;
    }
    .fenext-input-content {
        &-input {
            border-radius: 0.6875rem;
            background-color: #00000025;
            width: 100%;
            border: 0;
            padding: 1.25rem 1.125rem;
            margin-bottom: 0;
            font-size: 0.875rem;
            font-family: 'Nunito';
            font-size: 0.875rem;
            font-weight: 400;
            color: black;
        }
        &-icon {
            display: flex;
            height: 100%;
            svg {
                width: 0.75rem;
                color: #616161;
            }
        }
    }
    .fenext-select-list-options {
        background-color: white;
        padding: 0 1.125rem;
        font-family: 'Nunito';
        font-size: 0.875rem;
        font-weight: 400;
        color: #616161;
        .fenext-select-option {
            color: #616161;
            background-color: white;
        }
    }
}
