.aspect-ratio {
    @for $x from $aspect-ratio-x-min to $aspect-ratio-x-max {
        @for $y from $aspect-ratio-y-min to $aspect-ratio-y-max {
            &-#{$x}-#{$y} {
                aspect-ratio: #{$x} / #{$y}
            }
        }
    }
}
