.border {
    @include resp {
        @for $var from 0 to 101 {
            &-radius-p-#{$var} {
                border-radius: #{$var * 1%};
            }
        }
        @for $var from $border-min to $border-max {
            &-radius-#{$var} {
                border-radius: ptr($var * 1px);
            }
            &-t-l-radius-#{$var} {
                border-top-left-radius: ptr($var * 1px);
            }
            &-t-r-radius-#{$var} {
                border-top-right-radius: ptr($var * 1px);
            }
            &-b-l-radius-#{$var} {
                border-bottom-left-radius: ptr($var * 1px);
            }
            &-b-r-radius-#{$var} {
                border-bottom-right-radius: ptr($var * 1px);
            }
            &-#{$var} {
                border-width: ptr($var * 1px);
            }
            &-t-#{$var} {
                border-top-width: ptr($var * 1px);
            }
            &-l-#{$var} {
                border-left-width: ptr($var * 1px);
            }
            &-b-#{$var} {
                border-bottom-width: ptr($var * 1px);
            }
            &-r-#{$var} {
                border-right-width: ptr($var * 1px);
            }
        }
        &-style {
            &-solid {
                border-style: solid;
            }
            &-dotted {
                border-style: dotted;
            }
            &-double {
                border-style: double;
            }
            &-dashed {
                border-style: dashed;
            }
        }
        &-collapse{
            &-collapse {
                border-collapse: collapse;
            }
            &-separate {
                border-collapse: separate;
            }
        }
    }
}
