.box-shadow {
    --box-x: 0;
    --box-y: 0;
    --box-b: 0;
    --box-s: 0;
    --box-c: transparent;
    box-shadow: var(--box-x) var(--box-y) var(--box-b) var(--box-s) var(--box-c);
    &-inset {
        box-shadow: inset var(--box-x) var(--box-y) var(--box-b) var(--box-s)
            var(--box-c);
    }
    @include resp {
        @for $var from $box-x-min to $box-x-max {
            &-x-#{"" + $var} {
                --box-x: #{ptr($var * 1px)};
            }
        }
        @for $var from $box-y-min to $box-y-max {
            &-y-#{"" + $var} {
                --box-y: #{ptr($var * 1px)};
            }
        }
        @for $var from $box-b-min to $box-b-max {
            &-b-#{"" + $var} {
                --box-b: #{ptr($var * 1px)};
            }
        }
        @for $var from $box-s-min to $box-s-max {
            &-s-#{"" + $var} {
                --box-s: #{ptr($var * 1px)};
            }
        }
    }
    @each $name, $value in $colors {
        &-#{"" + $name},
        &-c-#{"" + $name} {
            --box-c: var(--#{"" + $name});
            &-hover:hover {
                --box-c: var(--#{"" + $name});
            }
        }
    }
}
