.filter {
    @for $var from 0 to 11 {
        &-blur-#{"" + $var} {
            @include hover {
                filter: blur(#{"" + $var}px);
            }
        }
        &-brightness-#{"" + $var} {
            @include hover {
                filter: brightness($var/10);
            }
        }
        &-contrast-#{"" + $var*2} {
            @include hover {
                filter: contrast($var/5);
            }
        }
        &-grayscale-#{"" + $var} {
            @include hover {
                filter: grayscale($var/10);
            }
        }
        &-invert-#{"" + $var} {
            @include hover {
                filter: invert($var/10);
            }
        }
        &-sepia-#{"" + $var} {
            @include hover {
                filter: sepia($var/10);
            }
        }
    }
}
