$l: "A", "B", "C", "D", "E", "F";

.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    &:not(.grid-force){

        > *:not([class*="grid-"]) {
            grid-column-end: -1;
            grid-column-start: 1;
            display: grid;
        }
    }

    @include resp {
        &-template-areas-var {
            grid-template-areas: var(--grid-template-areas-var);
        }

        &-columns {
            @for $var from $grid-min-col to ($grid-max-col + 1) {
                &-#{$var} {
                    grid-template-columns: repeat(#{$var}, 1fr);
                }
            }
        }
        &-rows {
            @for $var from $grid-min-row to ($grid-max-row + 1) {
                &-#{$var} {
                    grid-template-rows: repeat(#{$var}, 1fr);
                }
            }
        }
        @each $area in $l {
            &-#{$area} {
                grid-area: #{$area};
            }
        }
    }
}
