.object{
    &-fit{
        &-contain{
            object-fit: contain;
        }
        &-cover{
            object-fit: cover;
        }
        &-fill{
            object-fit: fill;
        }
        &-none{
            object-fit: none;
        }
        &-scale-down{
            object-fit: scale-down;
        }
    }
    &-position{
        &-center{
            object-position: center;
        }
    }
}