.overflow {
    &-auto {
        overflow: auto;
    }
    &-scroll {
        overflow: scroll;
    }
    &-hidden {
        overflow: hidden;
        &-y{
            overflow-y: hidden;
        }
        &-x{
            overflow-x: hidden;
        }
    }
    &-no-bar{
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
}
