.pos {
    @include resp {
        &-r {
            position: relative;
        }
        &-a {
            position: absolute;
        }
        &-f {
            position: fixed;
        }
        &-s {
            position: static;
        }
        &-sk {
            position: sticky;
        }
    }
}
