.scroll {
    @for $var from $scroll-width-min to $scroll-width-max {
        &-width-#{$var}::-webkit-scrollbar {
            width: ptr($var * 1px);
        }
        &-scrollbar-track-width-#{$var}::-webkit-scrollbar-track {
            width: ptr($var * 1px);
        }
        &-scrollbar-thumb-width-#{$var}::-webkit-scrollbar-thumb {
            width: ptr($var * 1px);
        }
    }
    @for $var from $scroll-height-min to $scroll-height-max {
        &-height-#{$var}::-webkit-scrollbar {
            height: ptr($var * 1px);
        }
        &-scrollbar-track-height-#{$var}::-webkit-scrollbar-track {
            height: ptr($var * 1px);
        }
        &-scrollbar-thumb-height-#{$var}::-webkit-scrollbar-thumb {
            height: ptr($var * 1px);
        }
    }
    @each $name, $value in $colors {
        &-color-#{"" + $name}::-webkit-scrollbar {
            background-color: var(--#{"" + $name});
        }
        &-scrollbar-track-color-#{"" + $name}::-webkit-scrollbar-track {
            background-color: var(--#{"" + $name});
        }
        &-scrollbar-thumb-color-#{"" + $name}::-webkit-scrollbar-thumb {
            background-color: var(--#{"" + $name});
        }
    }
    @for $var from $scroll-border-radius-min to $scroll-border-radius-max {
        &-scrollbar-thumb-border-radius-#{$var}::-webkit-scrollbar-thumb {
            border-radius: ptr($var * 1px);
        }
    }
}
