* {
    box-sizing: border-box;
}
body {
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
a,
button,
input[type="submit"] {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}
