.text {
    @include resp {
        &-bg {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }

        &-left {
            text-align: left;
        }
        &-center {
            text-align: center;
        }
        &-right {
            text-align: right;
        }
        &-justify {
            text-align: justify;
        }

        &-decoration {
            &-none {
                text-decoration: none;
            }
            &-through {
                text-decoration: line-through;
            }
            &-underline {
                text-decoration: underline;
            }
            &-overline {
                text-decoration: overline;
            }
        }
        &-style {
            &-normal {
                font-style: normal;
            }
            &-oblique {
                font-style: oblique;
            }
            &-italic {
                font-style: italic;
            }
        }
        &-capitalize {
            text-transform: capitalize;
        }
        &-uppercase {
            text-transform: uppercase;
        }
        &-lowercase {
            text-transform: lowercase;
        }
        &-math-auto {
            text-transform: math-auto;
        }
        &-white-space {
            &-normal {
                white-space: normal;
            }
            &-nowrap {
                white-space: nowrap;
            }
            &-pre {
                white-space: pre;
            }
            &-pre-line {
                white-space: pre-line;
            }
            &-pre-wrap {
                white-space: pre-wrap;
            }
        }
        &-word-break {
            &-all {
                word-break: break-all;
            }
            &-keep-all {
                word-break: keep-all;
            }
            &-normal {
                word-break: normal;
            }
        }
        &-overflow {
            &-clip {
                text-overflow: clip;
            }
            &-ellipsis {
                text-overflow: ellipsis;
            }
        }
    }
}
