.top {
    @include resp {
        &-initial {
            top: initial;
        }
        &-inherit {
            top: inherit;
        }
        @for $var from 0 to 101 {
            &-p-#{$var} {
                top: $var * 1%;
            }
        }
        @for $var from $top-min to $top-max {
            &-#{$var} {
                top: ptr($var * 1px);
            }
        }
    }
}
.left {
    @include resp {
        &-initial {
            left: initial;
        }
        &-inherit {
            left: inherit;
        }
        @for $var from 0 to 101 {
            &-p-#{$var} {
                left: $var * 1%;
            }
        }
        @for $var from $left-min to $left-max {
            &-#{$var} {
                left: ptr($var * 1px);
            }
        }
    }
}
.right {
    @include resp {
        &-initial {
            right: initial;
        }
        &-inherit {
            right: inherit;
        }
        @for $var from 0 to 101 {
            &-p-#{$var} {
                right: $var * 1%;
            }
        }
        @for $var from $right-min to $right-max {
            &-#{$var} {
                right: ptr($var * 1px);
            }
        }
    }
}
.bottom {
    @include resp {
        &-initial {
            bottom: initial;
        }
        &-inherit {
            bottom: inherit;
        }
        @for $var from 0 to 101 {
            &-p-#{$var} {
                bottom: $var * 1%;
            }
        }
        @for $var from $bottom-min to $bottom-max {
            &-#{$var} {
                bottom: ptr($var * 1px);
            }
        }
    }
}

.inset {
    @include resp {
        &-initial {
            inset: initial;
        }
        &-inherit {
            inset: inherit;
        }
        @for $var from 0 to 101 {
            &-p-#{$var} {
                inset: $var * 1%;
            }
        }
        @for $var from $inset-min to $inset-max {
            &-#{$var} {
                inset: ptr($var * 1px);
            }
        }
    }
}
