.word{
    &-break{
        &-all{
            word-break: break-all;
        }
        &-keep{
            word-break: keep-all;
        }
        &-normal{
            word-break: normal;
        }
        &-initial{
            word-break: initial;
        }
    }
}